body{
  background-color: black;
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
}

#flicker{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 5;
}

#counter{
  opacity: 0; z-index: 3;
  position: absolute;
  color: white;
  font-family: cursive;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 1px 1px 5px black;
}
#access{
  opacity: 0;
  z-index: 5;
  position: absolute;
  color: white;
  font-family: cursive;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 1px 1px 5px black;
  cursor: pointer;

  -webkit-transition: color ease-in-out 0.15s, text-shadow ease-in-out 0.15s;
  -o-transition: color ease-in-out 0.15s, text-shadow ease-in-out 0.15s;
  transition: color ease-in-out 0.15s, text-shadow ease-in-out 0.15s;
}

#access:hover{
  color: black !important;
  text-shadow: 1px 1px 5px red;
}

#topTitle{
  opacity: 0;
  position: absolute;
  color: white;
  z-index: 3;
  font-size: 74px;
  font-family: cursive;
  text-shadow: 1px 1px 5px black;

}
#topTitle > span{
  color: red;
}

.container{
  position: fixed;
  width: 100%;
}
.container.content{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(56, 68, 201);
  z-index: 2;
  opacity: 0.2;
}
.container > video{
  width: 100%;
}

